<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>

<div>
    {% for m in menu %}
        <a href="/{{m.url}}"> {{m.name}} </a>
    {% endfor %}

    <a href="{{url_for('logout')}}"> Выйти из профиля </a>
</div> <br>

<form action="/short" method="post">
    <input type="text" name="url">
    <input type="text" name="name" placeholder="Псевдоним">
    <select name="access">
        <option value = "Публичная"> Публичная </option>
        <option value = "Приватная"> Приватная </option>
        <option value = "Общего доступа"> Общего доступа </option>
    </select>

    <button name='short'> Сократить </button> <br><br>
    
    {% for msg in get_flashed_messages() -%}
        {{msg}}
    {% endfor -%} 

    
</form> <br> 


    

</body>
</html>